body{
    margin: 0 auto;
    width: 100%;
}
.head_2{
    width: 100%;
    height: 100px;
    background-color:rgb(51, 49, 49);
    opacity: 0.6;
    position: absolute;
    z-index: 2;
}
.head{
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    justify-content:space-around;
    align-items: center;
    list-style: none;
    position: absolute;
    z-index: 3;
}
.head a{
    color:white ;
    text-decoration: none;
}
li{
 font-family: 'Rokkitt', serif;
    font-size: 26px;
    color: white;
    padding: 30px 0px;
    opacity: 0.6;
}
.btn1{
    width: 150px;
    height: 70px;
    background-color: orange;
}
.prof{
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 3;
    top: 6px;
    border-radius: 60px;
    display: none;
}
.main{
    position: relative;
}
.main_img{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 900px;
    background-image: url(../img/city5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main_tit{
    position: absolute;
    top: 300px;
    color: whitesmoke;
    font-family: 'Rokkitt', serif;
    font-size: 120px;
    padding: 0px 100px;
    z-index: 4;
}

.p_tit{
    position: absolute;
    top: 410px;
    width: 100%;
    color: whitesmoke;
    font-family: 'Rokkitt', serif;
    font-size: 32px;
    padding: 16px 81px;
    z-index: 4;
}
#btn2{
    position: absolute;
    width: 200px;
    top: 510px;
    left: 350px;
    z-index: 4;
}
.line{
    position: absolute;
    top: 470px;
    left: 100px;
    /*width: 430px;*/
    background-color: whitesmoke;
    z-index: 7;
    height: 5px
}
.food{
    width: 100%;
    height: 1550px;
    background-color: rgb(34, 32, 32);
}
.food_tit{
    display: flex;
    flex-direction: column;
    padding: 52px 249px;
}
#food_h2{
    color: whitesmoke;
    font-size: 56px;
}
#food_p{
 color:whitesmoke;
 font-size: 26px;
}
.trend{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    padding: -1px 92px;
}
.block{
    margin: 20px;
    width: 550px;
    height: 230px;
    display: flex;
    background-color: rgb(41, 38, 38);
}
.place_img{
    width: 45%;
}
.pl_img{
    width: 230px;
    height: 230px;
    background-color: cornsilk;
    border-radius: 120px;
    background-repeat: no-repeat;
    background-size: cover;
}
.pl1{
    background-image: url(../img/food2.jpg);
}
.pl2{
    background-image: url(../img/city9.jpg);
}
.pl3{
    background-image: url(../img/bao.jpg);
}
.pl4{
    background-image: url(../img/opera.jpg);
}
.place_info{
    width: 55%;
}
.p2{
    color: whitesmoke;
}
.type{
    width: 100px;
    height: 30px;
    background-color: peru;
    margin-left: 201px;
}

.pl_desc{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.pl_desc p{
    font-size: 15px;
    background-color:peru;
    color: black;
}
.variants{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-around;
}
.ent{
    height: 90%;
    margin: 20px;
}
.e1{
    width: 40%;
    background-image: url(../img/rest_f.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.rest{
    width: 280px;
    height: 140px;
    background-color: black;
    margin-left: 40px;
    margin-top: 20px;
}
.e2{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.rest_h4{
    color: whitesmoke;
    font-size: 26px;
    padding: 12px 19px;
}
.rest_a{
    color: peru;
    font-size: 22px;
    padding: 10px 21px;
}
.var{
    width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
}
.tit{
    color: whitesmoke;
}
.v1{
    background-image: url(../img/city8.jpg);
}
.v2{
    background-image: url(../img/spa2.jpg);
}
.v3{
    background-image: url(../img/hostel.jpg);
}
.v4{
    background-image: url(../img/club.jpg);
}
.content{
    width: 100%;
    height: 900px;
    background-color:rgb(34, 32, 32);
}

.main_news{
    color: whitesmoke;
    font-family: 'Rokkitt', serif;
    text-align: center;
    font-size: 52px;
}
.news{
    width: 95%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.box{
    width: 400px;
    height: 500px;
    background-color:  rgb(41, 38, 38);;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0;
    left: 100px;
}
.b1{
    background-image: url(../img/b1.jpg);
}
.b2{
    background-image: url(../img/b2.jpg);
}
.b3{
    background-image: url(../img/b3.jpg);
}
.b4{
    background-image: url(../img/b4.jpg);
}
.b5{
    background-image: url(../img/b5.jpg);
}
.b6{
    background-image: url(../img/b6.jpg);
}

.news_img{
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.modal{
    width: 100%;
    height: 1000px;
    /*background-color: rgb(0, 0, 0, 0.6);*/
    backdrop-filter: blur(10px) saturate(100%) contrast(110%);
    position: absolute;
    display: none;
    justify-content: center;
    align-self: center;
    z-index: 5;
}
.modal_content{
    padding: 139px 543px;
    opacity: 1;
}
.form{
    border-radius: 20px;
    margin: auto;
    background-color:transparent;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position:relative;
    border: 2px solid white;
}
#x_btn{
    width: 30px;
    height: 30px;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 15px;
    cursor: pointer;
}
.p{
    color: white;
    padding: 0px 73px
}
#create{
    color: white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0; 
    left: 0;
    background-color: rgb(8, 8, 8);
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.5s;
  }
.sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #e9dcdc;
    display: block;
    transition: 0.3s;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #e9dcdc;
    display: block;
    transition: 0.3s;
  }
  #toggle{
      display: none;
  }
  .nav{
    position: relative;
    z-index: 5;
    float: right;
    display: none;
  }
  label{
    color: white;
    font-size: 32px;
    padding: 16px 29px;
    cursor: pointer;
  }
  .about_us h4{
      text-align: center;
  }
  .com h4{
    text-align: center;
}
  @media(max-width: 700px){
      .nav{
          display: inline;
      }
      .main_tit{
          font-size: 60px;
          padding: 146px 10px;
      }
      .p_tit{
          font-size: 26px;
          padding: 0px 22px;
          top: 526px;
      }
      .line{
          display: none;
      }
      #btn2{
        left: 120px;
        width: 100px;
        top: 628px;
      }
      .head{
          display: block;
          padding-top: 60px;
          text-align: center;
      }
      .head_2{
          height: 447px;
          opacity: 1;
          background-color: rgb(92, 51, 13);
      }
      .m2, .m3, .m4, .m5{
          border-top: 1px solid white;
          margin-left: -41px;
      }
      #toggle:checked + .head_2{
        display: none;
    }
    .form{
        width: 289px;
        height: 357px;
    }
    .modal_content {
        padding: 380px 543px;
    }
    #p_map{
        font-size: 12px;
    }
    .food{
        height: 3400px;
    }
    .trend{
        padding: initial;
    }
    .block{
        width: 359px;
        height: 235px;
        margin: 3px;
    }
    .pl_desc p{
        margin: 3px;
    }
    .place_info{
        width: 197px;
    }
    .variants{
        flex-wrap: wrap;
    }
    .e1{
        width: 100%;
    }
    .var{
        width: 320px;
        margin: 5px;
    }
    .lin_e{
        display: none;
    }
    .type{
        margin-left: 90px;
    }
    .place_info h4{
        font-size: 18px;
    }
    .place_info h5{
        font-size: 16px;
    }
    .pl_img{
        width: 150px;
        height: 150px;
    }
    .food_tit{
        padding: 10px 10px;
    }
    #food_h2{
        font-size: 32px;
    }
    #food_p{
        font-size: 16px;
    }
    .content{
        height: 2680px;
    }
    #map{
        height: 300px;
        width: 300px;
    }
    #p_map{
        font-size: 28px;
    }
    .footer{
        height: 2000px;
    }
    .con_tact{
        display: flex;
        flex-direction: column;
    }
    .com{
        margin: 0 auto;
        width: 100%;
        height: 700px;
        background-color: rgb(34, 32, 32);
        display: none;
    }
    #coment{
        width: 100%;
        height: 150px;
    }
    #pol{
        margin-left: -288px;
        margin-top: 206px;
        }
    #privacy_pol{
        text-align: center;
        opacity: 0.5;
        margin-top: 0px;
        display: none;
    }
  }
#map{
      height: 400px;
      width: 100%;
  }
.maps{
    background-color: rgb(34, 32, 32);
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
#p_map{
    color: whitesmoke;
    font-family: 'Rokkitt', serif;
    text-align: center;
    font-size: 52px;
  }
.footer{
    width: 100%;
    height: 480px;
    background-color: rgb(34, 32, 32);
  }
.con_tact{
    display: flex;
    justify-content: space-evenly;
  }
.con_tact h4, p,span{
    color: whitesmoke;
}
.lin_e{
    height: 250px;
    background-color: whitesmoke;
    width: 1px;
    margin-left: 660px;
    margin-top: -320px;
}
#coment{
    width: 500px;
    height: 150px;
}
strong{
    color: whitesmoke;
}
#privacy_pol{
    text-align: center;
    opacity: 0.5;
    margin-top: 160px;
}
#pol{
margin-left: -280px;
    margin-top: 75px;
}
/*.you_tube{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.v_1{
    background-color: rgb(34, 32, 32);
    box-shadow: 0px 0px 8px rgb(61, 59, 59);
    width: 700px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}*/

